<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Spring-mvc-crud</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <br>
    <h1>Simple Spring CRUD app with MVC </h1>
    <br>
    <br>
    <a class="nav-link" th:href="@{/color/all}">All colors</a>
    <br>
    <a class="nav-link" th:href="@{/car/all}">All cars</a>
</div>
</body>
</html>